.phonebook-item {
    padding   : 22px 4px;
    margin    : 0px 12px;
    cursor    : pointer;
    border-top: 1px solid #e8e8e8;
    display    : flex;
    align-items: center;
}

.addnew-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6px 14px;
  margin: 0px 20px;
  text-align: center;
  border-bottom: 1px solid darkgray;
}

.phonebook-item.completed .data {
    text-decoration: line-through;
}

.phonebook-item .data {
    text-decoration: none;
}

.phonebook-item-content {
    flex-grow: 1;
    color    : black;
    max-width: 33%;
}

.phonebook-top {
  padding-left: 25px;
}

.phonebook-item-top {
    display       : flex;
    flex-direction: row;
    justify-content: space-around;
    text-align    : center;
    font-weight   : bold;
    background    : #ecb2c3;
    padding       : 6px 14px;
    border-radius : 6px;
    color         : white;
    margin: 0px 20px;
}

.phonebook-item-top .name {
    font-size: 16px;
    width: 20%;
}

.phonebook-item-top .number {
    font-size: 16px;
}

.phonebook-item:hover .phonebook-item-content {
    color: #4e4e4e;
}

.delete-btn {
    display            : inline-block;
    width              : 26px;
    height             : 26px;
    background-image   : url(../../icon-delete-light.png);
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.delete-btn:hover {
  cursor: pointer;
  background-image: url(../../icon-delete.png);
}
