header {
    display: flex;
    flex-direction: column;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
    background: #f9f9f9;
    flex-shrink: 0;
}

header h1 {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  text-transform: uppercase;
  text-align: center;
}

header #error-message {
  background: red;
  margin: 0px 20px 20px 20px;
  color: white;
}
